/* TOP SECTION */

#aboutMe__info--container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 100%;
  height: calc(100vh - 180px);
  padding-top: 7.5%;
  background-image: url("../../Assets/Clouds-250s-2245px.svg");
}

#about__me--heading {
  color: #ffffff;
  font-size: 50px;
  max-width: 525px;
  margin-bottom: 25px;
}

#about__me--para {
  color: aliceblue;
  font-weight: 500;
  font-size: 18px;
  max-width: 310px;
}

#icon__container {
  margin-bottom: 25px;
}

.home__icon {
  color: #62e1e9;
  font-size: 36px;
  padding: 0 10px;
  transition: all 300ms ease;
}

.home__icon:hover {
  transform: scale(1.1);
  color: #51b1b8;
}

.hover__text--underline {
  position: relative;
  cursor: pointer;
}

.hover__text--underline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 4px;
  width: 0;
  right: 0;
  background-color: #a62c2c;
  transition: all 1000ms ease;
}

.hover__text--underline:hover::after {
  left: 0;
  width: 100%;
}

/* SECTION ONE */

#about__me--container {
  display: flex;
  justify-content: space-evenly;
  padding: 75px 0;
  border-bottom: 1px solid black;
}

#home__personal--img {
  background-color: rgb(86, 86, 86);
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 16px;
}

#home__img--wrapper {
  width: fit-content;
  height: fit-content;
}

.skills__list--item {
  background-color: rgb(25, 23, 23);
  color: #ffffff;
  padding: 6px 8px;
  width: fit-content;
  margin: 2px;
  border-radius: 3px;
}

#skills__list {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills__heading {
  font-size: 18px;
  margin-bottom: 10px;
}

#skills__container {
  margin-bottom: 20px;
}

#right__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#intro__para {
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #a62c2c;
  padding: 10px;
  margin: 0 auto 10px;
  max-width: 70%;
  width: 100%;
}

#about__page--link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #a62c2c;
}

#who-am-i__heading {
  color: #a62c2c;
  font-size: 40px;
  margin-bottom: 20px;
}

/* SECTION TWO */

#projects-overview {
  padding-top: 50px;
  padding-bottom: 50px;
}

#home__projects--heading {
  color: #a62c2c;
  font-size: 38px;
  text-decoration: underline;
}

.project__img {
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
}

.project__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}

.project__name {
  font-size: 38px;
  margin-bottom: 20px;
  color: #a62c2c;
  text-decoration: underline;
}

.project__blurb {
  max-width: 420px;
  font-size: 18px;
  margin-bottom: 20px;
}

.project__stack {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 20px;
}

.project__technology {
  background-color: rgb(25, 23, 23);
  color: #ffffff;
  padding: 6px 8px;
  width: fit-content;
  margin: 2px;
  border-radius: 3px;
}

.project__link {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  max-width: 250px;
  width: 100%;
  cursor: pointer;
  background-color: #a62c2c;
  border: none;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.project__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.project__link:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.project__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.project__link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.coming__soon {
  filter: blur(5px);
}

.disabled {
  cursor: not-allowed;
}

/* SECTION 3 (HOME BLOG BLURB) */

#featured__blogs {
  padding-top: 50px;
  padding-bottom: 50px;
}

#featured__blogs--wrapper {
  display: flex;
  justify-content: space-evenly;
}

.home__blog--post {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(250, 251, 251);
  border-bottom: 3px solid #a62c2c;
  transition: all 300ms ease;
  box-shadow: 0 15px 10px rgb(0 0 0 / 0.2);
}

.home__blog--post:hover {
  transform: translateY(-25px);
}

#home__blogs--heading {
  color: #a62c2c;
  font-size: 38px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.home__blog--title {
  color: #a62c2c;
}

.home__blog--postBlurb {
  font-size: 18px;
}

.home__blog--link {
  text-decoration: none;
  color: #a62c2c;
}

.home__blog--postDate {
  font-style: italic;
}



@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  #featured__blogs--wrapper {
    flex-direction: column;
    align-items: center;
  }
  .home__blog--post {
    margin-bottom: 50px;
    max-width: 400px;
    width: 100%;
  }
  #about__me--container {
    flex-direction: column;
  }
  #left__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  #flex__skills {
    margin-left: 50px;
  }
  #skills__container {
    display: flex;
    flex-direction: column;
  }
  #home__personal--img {
    max-width: 200px;
    width: 100%;
    margin-right: 10%;
  }
}
@media (max-width: 768px) {
  #about__me--heading {
    font-size: 36px;
  }
  #home__projects--heading {
    font-size: 32px;
  }
  .home__icon {
    font-size: 30px;
  }
  #about__me--para {
    font-size: 16px;
  }
  .project__wrapper {
    flex-direction: column;
  }
  .project__info {
    display: flex;
    flex-direction: column;
  }
  .project__img--wrapper {
    margin-top: 50px;
  }
  .project__name {
    font-size: 32px;
  }
  .project__blurb {
    font-size: 16px;
  }
  .project__img {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #home__blogs--heading {
    font-size: 28px;
  }
  .skills__list--item {
    font-size: 14px;
  }
  #left__container {
    flex-direction: column;
  }
}
