#about__me--page {
    padding: 100px 0;
}

#about__me--main-heading {
  color: #a62c2c;
  font-size: 38px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.story__container {
    margin-bottom: 50px;
}

.about__headings {
    color: #a62c2c;
    font-size: 22px;
    margin-bottom: 10px;
}

.about__page--para {
    margin-bottom: 20px;
    font-size: 18px;
}

#about__contact--heading {
    color: #a62c2c;
    font-size: 22px;
}

#about__contact--link-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
}

.about__contact--icon {
    color: #a62c2c;
    font-size: 32px;
    padding: 10px;
    transition: all 300ms ease;
}

.about__contact--icon:hover {
    color: #7d2c2c;
}

#skiing__img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin: 50px 0;
}

#skiing__img--wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#resume__heading {
    font-size: 22px;
}

#resume__link {
    color: #a62c2c;
    text-decoration: none;
}



@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  
}
@media (max-width: 768px) {
  #skiing__img {
    max-width: 300px;
    width: 100%;
  }
  .about__page--para {
    font-size: 16px;
  }
  #about__me--main-heading {
    font-size: 32px;
  }
  .about__headings {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  
}