#contact__page {
    padding: 100px 0;
}

#contact__content--container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contact__heading {
    font-size: 38px;
    color: #a62c2c;
    text-decoration: underline;
    margin-bottom: 20px;
}

#contact__img {
    max-width: 500px;
    width: 100%;
}

#contact__email--link {
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    transition: all 300ms ease;
}

#contact__email--link:hover {
    color: #a62c2c;
}

#contact__page--link-list {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.contact__icon {
    font-size: 34px;
    color: #a62c2c;
    padding: 10px;
    transition: all 300ms ease;
}

.contact__icon:hover {
    color: #7d2c2c;
}







@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  
}
@media (max-width: 768px) {
  #contact__content--container {
    flex-direction: column;
  }
  #contact__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  #contact__img {
    max-width: 300px;
    width: 100%;
  }
  #contact__heading {
    font-size: 28px;
  }
  #contact__email--link {
    font-size: 16px;
  }
  .contact__icon {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  
} 